/* Estilos generales para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .table-responsive {
        width: 100%;
        overflow-x: auto;
    }
}

/* Ajustes adicionales para dispositivos pequeños */
@media only screen and (max-width: 576px) {
    .table-responsive {
        display: block;
        overflow-x: auto;
    }

    .table {
        width: auto; /* Cambiar de 100% a auto */
        margin-bottom: 15px; /* Ajustar según tus necesidades */
        border-spacing: 0;
        border-collapse: collapse; /* Añadir para evitar espacios entre celdas */
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: table-cell; /* Cambiar de block a table-cell */
        vertical-align: middle; /* Ajustar según tus necesidades */
    }

    .table thead {
        font-weight: bold; /* Añadir negrita para encabezados */
        background-color: #f2f2f252; /* Color de fondo para encabezados */
    }

    .table tbody {
        max-height: calc(100vh - 170px); /* Ajusta la altura máxima según tu diseño */
        overflow-y: auto;
    }

    .table th,
    .table td {
        padding: 8px;
        border: 1px solid #ddd; /* Añadir borde a celdas */
        border-top: none; /* Eliminar borde superior */
    }
}
