.table-container {
    overflow-x: auto;
}

.table-content {
    max-height: 400px;
    /* Establece una altura máxima para el cuerpo de la tabla */
    overflow-y: auto;
    /* Permite desplazamiento vertical en el cuerpo de la tabla */
}

.table thead th {
    position: sticky;
    top: 0;
    /* Fija la cabecera en la parte superior de la tabla */
    background-color: white;
    /* Añade un fondo blanco para evitar que la cabecera sea transparente */
    z-index: 1;
    /* Asegura que la cabecera esté por encima del contenido de la tabla */
}
