/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #047500;
}

html {
    height: 100%;
}


/* Estilos del encabezado */

header {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.28);
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    width: 160px;
    height: 160px;
    margin-right: 10px;
}

.menu a {
    color: #d63131;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.menu a:hover {
    color: #8325d0;
}


/* Estilos del menú desplegable */

#check {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
}


/* Estilos de la sección general */

.general {
    display: flex;
    background-color: white;
    padding: 50px;
}

.general-1 {
    width: 50%;
    body,
    html {
        height: 100%;
    }
    color: black;
    font-weight: 700;
    padding: 0 50px;
}

.general-1 h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.general-1 p {
    text-align: justify;
    color: #333;
}


/* Estilos de la sección del enlace de la API */

.input-group {
    width: 100%;
}

#api-link {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#copy-button {
    width: 90px;
}


/* Estilos responsivos */

@media(max-width: 768px) {
    .menu {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #7777c4;
        right: -100%;
        top: 0;
        padding-top: 100px;
        transition: 0.8s;
    }
    .mostrar-menu,
    .esconder-menu {
        display: block;
    }
    .menu a {
        display: block;
        padding: 20px;
        margin-bottom: 10px;
    }
    #check:checked~.menu {
        right: 0;
    }
}
